.header {
    background-color:#eb1d84;
    padding: 5px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .header-contact {
    display: flex;
   margin-left: 5%;
   gap: 30px;
   
   
  }
  
  .header-contact i {
    color: yellow;
    text-decoration: none;
    /* margin-left: 2%; */
  }
  .header-contact a {
    color: white;
    text-decoration: none;
  }

  .header-social {
    display: flex;
   
   
   width:550px ;
   justify-content: space-evenly;
   
    

  }
  
  .header-social a {
    color: white;
    font-size: 18px;
    text-decoration: none;
  }
  
  .header-social a:hover {
    color: #ffd700;
  }

  .btn-getstarted{
    color: white;
    background: purple;
    font-size: 14px;
    padding: 8px 25px;
    margin: 0 0 0 30px;
    border-radius: 50px;
    transition: 0.3s;
    border: none;
  }

  
@media screen and (max-width: 768px) {
 
  .header{
    display: none;
  }

}
  