
/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 900px;
  overflow: clip;
}


/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  position: relative;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--accent-color);
  margin: 4px 10px;
}

.section-title p {
  color: var(--heading-color);
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  font-family: var(--nav-font);
  text-transform: uppercase;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  --default-color: #ffffff;
  --background-color: #3795BD;
  --heading-color: #ffffff;
  width: 100%;
  min-height: 80vh;
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-color);
}


/* home section */
.hero {
  --default-color: #ffffff;
  --background-color: #3795BD;
  --heading-color: #ffffff;
  width: 100%;
  min-height: 80vh;
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-color);

}



.navbar-logo{

 
  max-height: 100px;
  margin-right: 8px;

}

/* home page  */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content {
  flex: 1 1 60%;
  margin-right: 20px;
}

.sidebar {
  flex: 1 1 35%;
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.contact img {
  width: 30%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.rating {
  margin: 10px 0;
}

.features {
  list-style-type: none;
  margin: 20px 0;
}

.features li {
  margin-bottom: 10px;
}

.contact a {
  display: block;
  font-size: 1.2em;
  color: #d32f2f;
  text-decoration: none;
  margin-bottom: 10px;
}

.contact button {
  background-color:purple;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
}

.contact button:hover {
  background-color: purple;
}
.home-features{
  display: flex;
}
@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }

  .content {
      margin-right: 0;
  }

  .sidebar {
      margin-top: 20px;
  }
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 66px;
  }
  /* .Certificate img {
    width: 400px;
    height: 300px;
  } */
}
@media (max-width: 768px) {
  .hero h2 {
    font-size: 32px;
  }

  .hero p {
    font-size: 18px;
  }
  .h1-welcome-tcf{
    font-size: 22px;
  }

}